@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @layer responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}

.inverted-border-radius {
  background: white;
}
.inverted-border-radius-dark {
  background: white;
}

.inverted-border-radius::before {
  content: '';
  position: absolute;
  background-color: transparent;
  bottom: -50px;
  height: 50px;
  width: 25px;
  left: 0;
  border-top-left-radius: 12px;
  box-shadow: 0 -25px 0 0 white;
  z-index: 0;
}

.inverted-border-radius::after {
  content: '';
  position: absolute;
  background-color: transparent;
  top: 0;
  height: 50px;
  width: 25px;
  right: -25px;
  border-top-left-radius: 12px;
  box-shadow: 0 -25px 0 0 white;
  z-index: 0;
}

.inverted-border-radius-dark::before {
  content: '';
  position: absolute;
  background-color: transparent;
  bottom: -50px;
  height: 50px;
  width: 25px;
  left: 0;
  border-top-left-radius: 12px;
  box-shadow: 0 -25px 0 0 #121212;
  z-index: 0;
}

.inverted-border-radius-dark::after {
  content: '';
  position: absolute;
  background-color: transparent;
  top: 0;
  height: 50px;
  width: 25px;
  right: -25px;
  border-top-left-radius: 12px;
  box-shadow: 0 -25px 0 0 #121212;
  z-index: 0;
}

.animation-reverse {
  animation-direction: reverse;
}

.inverted-image-left {
  background: #fff;
  height: 100px;
  width: 80px;
}

.inverted-image-left::before {
  content: '';
  position: absolute;
  background-color: transparent;
  bottom: -49px;
  height: 50px;
  width: 35px;
  left: -5px;
  border-top-left-radius: 50px;
  box-shadow: 0 -25px 0 0 #fff;
  z-index: 0;
  border-top: 1px solid #d4d4d4;
  border-left: 1px solid #d4d4d4;
}

.inverted-image-left::after {
  content: '';
  position: absolute;
  background-color: transparent;
  top: -49px;
  height: 50px;
  width: 35px;
  left: -5px;
  border-top-left-radius: 50px;
  box-shadow: 0 -25px 0 0 #fff;
  z-index: 0;
  transform: scaleY(-1);
  border-top: 1px solid #d4d4d4;
  border-left: 1px solid #d4d4d4;
}

.inverted-image-left-dark {
  background: #121212;
  height: 100px;
  width: 80px;
}

.inverted-image-left-dark::before {
  content: '';
  position: absolute;
  background-color: transparent;
  bottom: -49px;
  height: 50px;
  width: 35px;
  left: -5px;
  border-top-left-radius: 50px;
  box-shadow: 0 -25px 0 0 #121212;
  z-index: 0;
  border-top: 1px solid #525252;
  border-left: 1px solid #525252;
}

.inverted-image-left-dark::after {
  content: '';
  position: absolute;
  background-color: transparent;
  top: -49px;
  height: 50px;
  width: 35px;
  left: -5px;
  border-top-left-radius: 50px;
  box-shadow: 0 -25px 0 0 #121212;
  z-index: 0;
  transform: scaleY(-1);
  border-top: 1px solid #525252;
  border-left: 1px solid #525252;
}

/* ----- Ribbon Container ---------------------------------------*/
#ribbon-container {
  background: transparent;
  height: 130px;
  width: 200px;
  position: absolute;
  top: -5px;
  right: -5px;
  overflow: hidden;
}

/* ----- Top Curl ---------------------------------------*/
#ribbon-container:before {
  content: '';
  display: block;
  -webkit-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  width: 35px;
  height: 10px;
  position: absolute;
  right: 30px;
  z-index: 1;
}

/* ----- Right Curl ---------------------------------------*/
#ribbon-container:after {
  content: '';
  display: block;
  -webkit-border-radius: 0px 10px 10px 0px;
  border-radius: 0px 10px 10px 0px;
  width: 10px;
  height: 35px;
  position: absolute;
  right: 0px;
  top: 30px;
}

/* ----- Ribbon ---------------------------------------*/
#ribbon-container > div {
  width: 100px;
  height: 20px;
  position: relative;
  top: 18px;
  right: -135px;
  z-index: 11;
  overflow: hidden;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg); /* IE 9 */
  -moz-transform: rotate(45deg); /* Firefox */
  -webkit-transform: rotate(45deg); /* Safari and Chrome */
  -o-transform: rotate(45deg); /* Opera */
}
